
.side_anchor{

    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
}

.inner_pane{

    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.Butt_inner_pane{

    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.top_pane{

    -fx-background-color: linear-gradient(to bottom, #0045F3 0%, #454545 126.02%);
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-style: solid;
}

.big_pane{

    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 2 );
}

.inner_big_pane1{

    -fx-background-color: #f1f1f1;
    -fx-border-color: #f1f1f1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.inner_big_pane2{

    -fx-background-color: #f1f1f1;
    -fx-border-color: #f1f1f1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.inner_big_pane21{

    -fx-background-color: #2854C3;
    -fx-border-color: #2854C3;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.inner_big_pane3{

    -fx-background-color: #eff6fc;
    -fx-border-color: #eff6fc;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.button_big{

    -fx-background-color: #2854C3;
    -fx-border-color: #2854C3;
    -fx-border-style: solid;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.texty{
    -fx-font-family: "Raleway";
}

.hyperlink {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-underline: false;
}

.hyperlink:pressed {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-underline: false;
}
